.imageContainer{
    background: url('https://i.ibb.co/RCJJ8sk/your-success.jpg');
    border-style: solid ;
    border-color: white;
    background-repeat: no-repeat;
    background-size: cover;

}
body{
    margin: auto;
}
.logo{
    text-align: center;
    font-weight: bold;
    font-size: 90px;
    background-color:white;
    height:150px;
    width:150px;
    margin:auto;
    border-radius:80%;
    margin-top: 80px;
    margin-bottom: 80px;
}
img{
    height:150px;
    width:150px;
   
    

}

.heading{
    text-align:center;
    color:rgba(52, 38, 245, 0.687);
    font-size:36px;

}

.itemSelector{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.itemDropDown{
    width:250px;
    height:60px;
    border-radius: 0%;
    font-size: 20px;
    border: none;
}

.typesDropDown{
    border: none;
    width:370px;
    height:60px;
    border-radius:0%;
    font-size: 20px;
    margin-left:10px;
}
